.header {
  width: 100%;
  background: white;
  border-bottom: 1px solid #e5e5e5;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
}



.menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}


.menu a {
  text-decoration: none;
  color: #333;
}

.menu a:hover {
  color: #111;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchbar {
  display: none;
}


.searchbar kbd {
  background: white;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 0.75rem;
}

.icon-btn {
  padding: 0.5rem;
  border: none;
  background: none;
  border-radius: 6px;
  cursor: pointer;
}

.icon-btn:hover {
  background: #f3f3f3;
}


