.HeroSection {
    background: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='120' height='104' fill='none' stroke='rgba(0,0,0,0.07)' stroke-width='2'>\
    <path d='M30 2 L90 2 L120 52 L90 102 L30 102 L0 52 Z'/>\
  </svg>") repeat, radial-gradient(#3fa43bab, white, white);
    height: 80vh;
}


.Insideherosection {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
    align-items: start;
}

.LeftSide {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Leftbuttons {

    margin-top: 2rem
}

.buttonone {
    margin: 1rem;
    border-radius: var(--radius-sm, .25rem);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-green-600, #417e38);
    background-color: var(--color-green-600, #417e38);
    color: var(--color-white, #fff);
}

.buttontwo {
    margin: 1rem;
    border-radius: 2px;
    border-style: dotted;
    border-width: 2px;
    border-color: #4b5563;
    background-color: var(--color-white, #fff);
    color: var(--color-gray-600, #4b5563);
}

.PartnerLogos {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}