.HeroSection {
  background:
    url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='120' height='104' fill='none' stroke='rgba(0,0,0,0.07)' stroke-width='0.5'>\
    <path d='M30 2 L90 2 L120 52 L90 102 L30 102 L0 52 Z'/>\
  </svg>") repeat,

    radial-gradient(#3fa43bab, white, white);


  background-size:
    150px 140px,
    cover;


  height: 89vh;

}

.Insideherosection {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3rem;
  align-items: center;
}

.LeftSide {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Leftbuttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.PartnerLogos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.PartnerLogos div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-sm {
  font-size: 0.875rem;
}

.text-gray-600 {
  color: #6a737a;
}

.tabs {
  width: 100%;
  background: #1e1e1e;
  border-radius: 8px;
  overflow-x: auto;
  color: white;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label {
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  background: #2d2d2d;
  transition: 0.3s;
}

.tabs label:hover {
  background: #3f3f3f;
}

.tabs input[type="radio"]:checked+label {
  background: #3f3f3f;
}

#tab1:checked+label[for="tab1"],
#tab2:checked+label[for="tab2"],
#tab3:checked+label[for="tab3"] {
  border-bottom: 2px solid #22c55e;
}

#tab1:checked~#tab1-content,
#tab2:checked~#tab2-content,
#tab3:checked~#tab3-content {
  display: block;
}

.tab-content {
  display: none;
  padding: 20px;
  background: #2d2d2d;
  border: 1px solid #333;
}

.buttonone {
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: var(--radius-sm, 0.25rem);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--color-green-600, #417e38);
  background-color: var(--color-green-600, #417e38);
  color: var(--color-white, #fff);
}

.buttontwo {
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 2px;
  border-style: dotted;
  border-width: 2px;
  border-color: #4b5563;
  background-color: var(--color-white, #fff);
  color: var(--color-gray-600, #4b5563);
}