@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=IBM+Plex+Mono:wght@400;500;600&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0%;
}